body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#f6f7fb;
    font-family:Arial;
    }

    .auth-card{
    background:white;
    padding:40px;
    border-radius:16px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
    width:280px;
    }

    input{
    width:100%;
    margin:10px 0;
    padding:12px;
    border-radius:10px;
    border:1px solid #ddd;
    }

    button{
    width:100%;
    padding:12px;
    background:#00b386;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    }